$baseLineHeight: 22px;
@import "bootstrap";
@import "bootstrap-responsive";

html {
  background:url(bg.png) repeat top center;
}

body{
  background: transparent;
  font-family: 'Helvetica Neue';
}

.main_content {
  background-color: white;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6{
  margin-bottom: 0px;
}

h1{
  font-size: 25px;
  border-bottom: 1px dotted #888;
}

h2{
  font-size: 18px;
}

ul li{
  list-style: square outside;
}

ul ul li, ol ul li {
  list-style-type: circle;
}

.footer{
  font-size: 85%;
}
