@import "bootstrap";

html {
  background:url(bg.png) repeat top center;
}

body{
  background: transparent;
}

.main_content {
  background-color: white;
  padding: 20px;
}

.footer{
  font-size: 85%;
}
