@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background: transparent;
  font-family: Tahoma, Arial, Sans-Serif;
  color: #555;
  line-height: 1.5;
}

.main_content {
  background-color: white;
  padding: 20px;
  ul, ol {
    padding-left: 19px;
  }
  img {
    box-shadow: 0px 0px 5px #aaa;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
  }
}

h1, h2, h3, h4, h5, h6{
  color: #222;
}

h1{
  font-family: Palatino, Georgia, Serif;
  font-weight: bold;
  padding-top: 0px;
  margin-top: 0px;
  border-bottom: 1px dotted #ddd;
}

h2{
  color: #006600;
}

h3{
  color: #555;
}

ul li{
  list-style: square outside;
}

ul ul li, ol ul li {
  list-style-type: circle;
}

textarea {
  font-family: courier;
}

.footer{
  font-size: 85%;
}

@media only screen and (max-width : 767px) {
  .breadcrumb {
    background-color: transparent;
    padding: 5px 0;
    margin-bottom: 0;
    > li + li:before {
      content: "/";
      padding: 0;
    }
  }
  .main_content {
    padding: 0;
  }
  .breadcrumb-container {
    margin-bottom: 30px;
    background-color: #f0f0f0;
  }
}

@media only screen and (min-width : 768px) {
  html {
    background:url(bg.png) repeat top center;
  }
  .main_content {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
  }
}
