- if @filename_list.empty?
  %p
    Oops. No markdown files in your 
    %code= params[:path]
    folder.
%ul
  - @filename_list.each do |file_name|
    %li
      = link_to file_name, file_link(file_name)

